<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         cacheDirectory="var/phpunit"
         colors="true"
         stopOnFailure="false"
         failOnWarning="false"
         failOnRisky="false">
    <testsuites>
        <testsuite name="unit">
            <directory>public/local/modules/*/tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>public/local/modules/*/tests</directory>
            <exclude>public/local/modules/*/tests/Unit</exclude>
        </testsuite>
    </testsuites>
</phpunit>
