# Replace this line with the Yandex app password for rebit-2017@yandex.ru
# Final production file name on server: /srv/rabit-api/swarm/secrets/rebit_smtp_password
# Docker Swarm object name will be versioned: rebit_smtp_password_<BUILD_NUMBER>
