# Replace this line with the Telegram bot token from @BotFather
# Final production file name on server: /srv/rabit-api/swarm/secrets/rebit_telegram_bot_token
# Docker Swarm object name will be versioned: rebit_telegram_bot_token_<BUILD_NUMBER>
